doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    if userEmail
      div(style="margin-bottom:10px")
        span Bonjour #{userEmail} |
        a(href="/auth/logout") Déconnexion

    block content

