extends layout

block content
  h1 Connexion
  if errors
    ul
      each e in errors
        li(style="color:red")= e

  form(method="POST" action="/login")
    label(for="email") E-mail
    input#email(type="email" name="email" required)
    br
    label(for="password") Mot de passe
    input#password(type="password" name="password" required)
    br
    button(type="submit") Se connecter
  br
  a(href="/register") Créer un compte
