extends layout

block content
  h1 Inscription
  if errors
    ul
      each e in errors
        li(style="color:red")= e

  form(method="POST" action="/register")
    label(for="email") E-mail
    input#email(type="email" name="email" value=values.email || '')
    br
    label(for="password") Mot de passe
    input#password(type="password" name="password")
    br
    button(type="submit") S'inscrire

  br
  a(href="/login") Déjà inscrit ? Connexion
